NODE_ENV=dev

MONGODB_URI=
MONGODB_TEST_URI=

SESSION_SECRET=
PORT = 3000

ENABLE_AUTH = true

# not requierd
CLIENT_ID=
CLIENT_SECRET=

# jwt auth
JWT_AUDIENCE = 
JWT_ISSUER = 
# BASE + KEY_PATH should return the public key
JWT_PUBLIC_KEY_BASE_URL= 
JWT_PUBLIC_KEY_PATH = 
JWT_PUBLIC_KEY_PORT= 

# apm monitoring configuration
ELASTIC_APM_SERVICE_NAME= kartoffel
ELASTIC_APM_SERVER_URL= http://localhost:8200
ELASTIC_APM_SECRET_TOKEN=

